
@media (max-width: 992px) {
    .timeline::after {
        left: -20px; 
    }

    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-date,
    .timeline-content {
        width: 100%;
        text-align: left;
    }
    .timeline-item:nth-child(even) .timeline-date {
        order: 2; 
        text-align: left;
    }

    .timeline-item:nth-child(even) .timeline-content {
        order: 1;
    }

    .timeline-item:nth-child(odd) .expand-container {
        right: 15px;
        left: auto;
    }

    .timeline-item:nth-child(even) .btn-container {
        right: 15px;
        left: auto;
    }

    .timeline-item::before {
        left: -20px;
    }

    .add-btn {
        left: -20px;
    }
}