.timeline {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    padding: 0px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #36413E;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    transition: background-color 0.3s ease;
}

.timeline-item {
    position: relative;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.timeline-date {
    width: 40%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    font-size: 1.5em;
}

.btn-container {
    position: absolute;
    top: 15px;
    display: flex;
    gap: 5px;
}

.expand-container {
    position: absolute;
    top: 15px;
    display: flex;
    gap: 5px;
}

.date-content {
    text-align: center;
}

.timeline-content {
    width: 40%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.timeline-content img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.view-mode .timeline-content:hover {
    background-color: #efefef;
    cursor: pointer;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #36413E;
    top: 50%;
    left: 50%;
    margin: -10px;
    transition: background-color 0.3s ease;
}

.round-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.mode-toggle-btn {
    background-color: #36413E;
}

.mode-toggle-btn:disabled {
    background-color: #6c757d;
}

.add-btn {
    position: absolute;
    left: 50%;
    background-color: #6c757d;
    margin-left: -25px;
    z-index:99;
}

.settings {
    position: absolute;
    top: 15%;
    right: 8%;
    gap: 10px;
}

.headline {
    padding-top: 80px;
    font-size: 6em;
    color: #36413E;
}

.date-text {
    font-size: 2.5em;
    font-weight: lighter;
    transition: background-color 0.3s ease;
}

.short-description {
    font-size: 1.2em;
    font-weight: lighter;
}

.description {
    font-weight: lighter;
}

.modal .modal-content {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: scale(0.8);
}

.modal.show .modal-content {
    opacity: 1;
    transform: scale(1);
}

.timeline-item:nth-child(odd) .timeline-content {
    order: 1;
}

.timeline-item:nth-child(odd) .timeline-date {
    order: 2;
    text-align: right;
}

.timeline-item:nth-child(even) .timeline-date {
    order: 1; 
    text-align: left;
}

.timeline-item:nth-child(even) .timeline-content {
    order: 2;
}

.timeline-item:nth-child(odd) .btn-container {
    order: 2;
    right: 15px;
}

.timeline-item:nth-child(even) .btn-container {
    order: 1; 
    left: 5px;
}

.timeline-item:nth-child(odd) .expand-container {
    order: 2;
    left: 36%;
}

.timeline-item:nth-child(even) .expand-container {
    order: 1; 
    right: 15px;
}
